<ion-view>
    <ion-content>
      <div class="padding margin-home">
          <div>
          <button class="button button-block button-royal" ui-sref="login">
              Login
          </button>
          <button class="button button-block button-assertive" ui-sref="signUp">
          Sign Up
          </button>
          </div>
          <hr/>
          <div>
              <button class="button button-block facebook">
              <i class="icon ion-social-facebook"></i> Login With Facebook
              </button>
          </div>
      </div>
    </ion-content>
</ion-view>