<ion-nav-bar class="bar bar-royal">
</ion-nav-bar>
<ion-nav-view></ion-nav-view>
<div class="tabs tabs-icon-left tabs-royal">
    <a class="tab-item" ui-sref="main.promotions" ui-sref-active="tab-item-active">
        <i class="icon ion-home"></i>
        Home
    </a>
    <a class="tab-item" ui-sref="main.favourite" ui-sref-active="tab-item-active">
        <i class="icon ion-heart"></i>
        Favorites
    </a>
    <a class="tab-item" ui-sref="main.new" ui-sref-active="tab-item-active">
        <i class="icon ion-star"></i>
        New
    </a>

    <a class="tab-item" ui-sref="main.search" ui-sref-active="tab-item-active">
        <i class="icon ion-search"></i>
        Search
    </a>
</div>