<ion-view>
    <ion-header-bar  title="Sign Up" class="bar bar-royal textCenter">
        <h1 class="title">Sign Up</h1>
    </ion-header-bar >
    <ion-content class="padding">
        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" placeholder="First Name">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Last Name">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Email">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="Password">
            </label>
        </div>
        <hr/>
        <div class="button button-block button-positive" ui-sref="main.promotions">Create Account</div>
    </ion-content>
</ion-view>