/* Empty. Add your own CSS if you like */
.facebook{
    background-color: #3b5998;
    color:#ffffff;
}
.facebook:hover,.facebook.activated, .facebook:active{
    background-color: #677392;
    color:#ffffff;
}
.margin-home{
    margin-top: 30%;
}
hr{
    margin-top: 15%;
    margin-bottom: 15%;
}
.textCenter{
    text-align: center;
}
.percnt{
    display: inline;
    margin-left: 75%;
    font-size: 25px;
    margin-right: 0%;
}
.border{
    border: 1px solid green;
    border-radius: 5px;
}
.percent{
    display: inline;
    font-size: 25px
}
.bg{
    background: inherit;
    border-radius: 15px;
}
.discount{
    font-weight: bold;
    font-size: 15px;
    margin-top: 10%;
}
.code{
    margin-left: 20%;
    border: 1px solid #000000;
    height: 100px;
    width: 60%;
    font-size: 50px;
    font-weight: bold;
    padding-top: 11%;
    margin-top: 15%;
}
.instruction{
    margin-left: 15%;
    height: 100px;
    width: 70%;
    margin-top: 20%;
    border: 1px solid #000000;
    background-color: #eeeeee;
}